In [137]:
import pandas as pd
from pathlib import Path
import seaborn as sns
import hvplot.pandas
%matplotlib inline

## Fraud Activity Report Data Path Files.

In [138]:
fraud_yr_2020= Path("..\FInCen CSV Data\FinCen SAR Stats 2020 (Months).csv")
fraud_yr_2020= pd.read_csv(fraud_yr_2020, thousands=',', index_col='Year Month')
fraud_yr_2020

fraud_yr_2019= Path("..\FInCen CSV Data\FinCen SAR Stats 2019 (Months).csv")
fraud_yr_2019= pd.read_csv(fraud_yr_2019, thousands=',', index_col='Year Month')
fraud_yr_2019

fraud_yr_2021= Path("..\FInCen CSV Data\FinCen SAR Stats 2021 (Months).csv")
fraud_yr_2021= pd.read_csv(fraud_yr_2021, thousands=',', index_col='Year Month')
fraud_yr_2021

,State,Industry,Suspicious Activity,Count
Year Month,,,,
2021 January,Alabama,Casino/Card Club - Tribal Authorized Casino,Credit/Debit Card,2
2021 January,Alabama,Casino/Card Club - Tribal Authorized Casino,Other Fraud (Type),2
2021 January,Alabama,Casino/Card Club - Tribal Authorized Casino,[Total],4
2021 January,Alabama,Depository Institution,ACH,286
2021 January,Alabama,Depository Institution,Advance Fee,3
...,...,...,...,...
2021 December,Wyoming,Securities/Futures,[Total],1
2021 December,Wyoming,[Total],[Total],73
2021 December,[Total],[Total],[Total],160929
2021 [Total],[Total],[Total],[Total],1729746
All Years [Total],[Total],[Total],[Total],1729746

## Remove rows with 'Totals' for each dataframe year.

In [139]:
fraud_yr_2020=fraud_yr_2020.loc[fraud_yr_2020["Industry"]!="[Total]" ]
fraud_yr_2020f=fraud_yr_2020.loc[fraud_yr_2020["Suspicious Activity"]!="[Total]" ]
fraud_yr_2020=fraud_yr_2020.loc[fraud_yr_2020["State"]!="[Total]" ]


fraud_yr_2021=fraud_yr_2021.loc[fraud_yr_2021["Industry"]!="[Total]" ]
fraud_yr_2021=fraud_yr_2021.loc[fraud_yr_2021["Suspicious Activity"]!="[Total]" ]
fraud_yr_2021=fraud_yr_2021.loc[fraud_yr_2021["State"]!="[Total]" ]


fraud_yr_2019=fraud_yr_2019.loc[fraud_yr_2019["Industry"]!="[Total]" ]
fraud_yr_2019f=fraud_yr_2019.loc[fraud_yr_2019["Suspicious Activity"]!="[Total]" ]
fraud_yr_2019=fraud_yr_2019.loc[fraud_yr_2019["State"]!="[Total]" ]

## Drop "Suspicious Activity" Colomn from Datatframes.

In [146]:
fraud_2020_clean= fraud_yr_2020.drop(columns= 'Suspicious Activity')
fraud_2021_clean= fraud_yr_2021.drop(columns= 'Suspicious Activity')
fraud_2019_clean= fraud_yr_2019.drop(columns= 'Suspicious Activity')
fraud_2019_clean

                 State                                     Industry  Count
Year Month
2019 January   Alabama  Casino/Card Club - Tribal Authorized Casino      1
2019 January   Alabama  Casino/Card Club - Tribal Authorized Casino      1
2019 January   Alabama  Casino/Card Club - Tribal Authorized Casino      2
2019 January   Alabama                       Depository Institution    126
2019 January   Alabama                       Depository Institution      4
...                ...                                          ...    ...
2019 December  Wyoming                Money Services Business (MSB)     13
2019 December  Wyoming                Money Services Business (MSB)     10
2019 December  Wyoming                Money Services Business (MSB)     25
2019 December  Wyoming                           Securities/Futures      1
2019 December  Wyoming                           Securities/Futures      1

[19583 rows x 3 columns]

## Combine All Fraud Reported into One Dataframe.

In [147]:
fraud_combined_data = pd.concat([fraud_2019_clean, fraud_2020_clean, fraud_2021_clean], axis=0, join="inner")
fraud_combined_data

                 State                                     Industry  Count
Year Month
2019 January   Alabama  Casino/Card Club - Tribal Authorized Casino      1
2019 January   Alabama  Casino/Card Club - Tribal Authorized Casino      1
2019 January   Alabama  Casino/Card Club - Tribal Authorized Casino      2
2019 January   Alabama                       Depository Institution    126
2019 January   Alabama                       Depository Institution      4
...                ...                                          ...    ...
2021 December  Wyoming                       Depository Institution      6
2021 December  Wyoming                Money Services Business (MSB)      1
2021 December  Wyoming                Money Services Business (MSB)     18
2021 December  Wyoming                Money Services Business (MSB)      4
2021 December  Wyoming                           Securities/Futures      1

[55366 rows x 3 columns]

## Filter combined dataframe by 'Depository Institution'

In [148]:
fraud_combined_data = fraud_combined_data.loc[fraud_combined_data["Industry"] == 'Depository Institution']
fraud_combined_data

                 State                Industry  Count
Year Month
2019 January   Alabama  Depository Institution    126
2019 January   Alabama  Depository Institution      4
2019 January   Alabama  Depository Institution      1
2019 January   Alabama  Depository Institution    498
2019 January   Alabama  Depository Institution     49
...                ...                     ...    ...
2021 December  Wyoming  Depository Institution      1
2021 December  Wyoming  Depository Institution      6
2021 December  Wyoming  Depository Institution      1
2021 December  Wyoming  Depository Institution      1
2021 December  Wyoming  Depository Institution      6

[21726 rows x 3 columns]

## Update combined data 'Date Time' format.

In [152]:
fraud_combined_data = fraud_combined_data.reset_index()
fraud_combined_data['Year Month'] = pd.to_datetime(fraud_combined_data['Year Month'], infer_datetime_format = True)
fraud_combined_data['Count'] = fraud_combined_data['Count'].astype(float)

fraud_combined_data

      Year Month    State                Industry  Count   Year
0     2019-01-01  Alabama  Depository Institution  126.0  2019
1     2019-01-01  Alabama  Depository Institution    4.0  2019
2     2019-01-01  Alabama  Depository Institution    1.0  2019
3     2019-01-01  Alabama  Depository Institution  498.0  2019
4     2019-01-01  Alabama  Depository Institution   49.0  2019
...          ...      ...                     ...    ...    ...
21721 2021-12-01  Wyoming  Depository Institution    1.0  2021
21722 2021-12-01  Wyoming  Depository Institution    6.0  2021
21723 2021-12-01  Wyoming  Depository Institution    1.0  2021
21724 2021-12-01  Wyoming  Depository Institution    1.0  2021
21725 2021-12-01  Wyoming  Depository Institution    6.0  2021

[21726 rows x 5 columns]

## Group Combined Dataframes by 'State' and 'Count.

In [155]:
grouped_stats_state = fraud_combined_data[["State", "Count", "Year Month"]]

grouped_stats_state = grouped_stats_state.groupby(['Year Month', 'State']).sum()
grouped_stats_state

                            Count
Year Month State
2019-01-01 Alabama         1922.0
           Alaska           128.0
           Arizona         1066.0
           Arkansas         406.0
           California     13598.0
...                           ...
2021-12-01 Virginia       11004.0
           Washington      1088.0
           West Virginia    962.0
           Wisconsin        743.0
           Wyoming           49.0

[2054 rows x 1 columns]

## Group fraud report data by 'State'.

In [156]:
grouped_stats_state = grouped_stats_state.sort_index(level = 1, ascending = False)
grouped_stats_state

                            Count
Year Month State
2021-12-01 Wyoming           49.0
2021-11-01 Wyoming           47.0
2021-10-01 Wyoming           62.0
2021-09-01 Wyoming           69.0
2021-08-01 Wyoming           49.0
...                           ...
           APO / DPO / FPO    1.0
2021-07-01 APO / DPO / FPO    4.0
2021-04-01 APO / DPO / FPO    1.0
2021-02-01 APO / DPO / FPO    1.0
2020-12-01 APO / DPO / FPO    6.0

[2054 rows x 1 columns]

## Group Data by Year and Month

In [177]:
grouped_stats_ym = fraud_combined_data.groupby(['Year Month']).sum()
grouped_stats_ym.head()

               Count
Year Month
2019-01-01  140264.0
2019-02-01  140366.0
2019-03-01  158560.0
2019-04-01  136436.0
2019-05-01  142770.0

## Total Columns for each year.

In [178]:
grouped_stats_ym = grouped_stats_ym.rename(columns = {'Count' : 'Total'})
grouped_stats_ym.head()

               Total
Year Month
2019-01-01  140264.0
2019-02-01  140366.0
2019-03-01  158560.0
2019-04-01  136436.0
2019-05-01  142770.0

## Disply the State with the Max number fraud reports.

In [159]:
pd.set_option("display.max_rows", 10, "display.max_columns", None)
grouped_stats_state = grouped_stats_state.rename(columns = {'Count' : 'Reports'})
grouped_stats_state

                            Reports
Year Month State
2021-12-01 Wyoming             49.0
2021-11-01 Wyoming             47.0
2021-10-01 Wyoming             62.0
2021-09-01 Wyoming             69.0
2021-08-01 Wyoming             49.0
...                             ...
           APO / DPO / FPO      1.0
2021-07-01 APO / DPO / FPO      4.0
2021-04-01 APO / DPO / FPO      1.0
2021-02-01 APO / DPO / FPO      1.0
2020-12-01 APO / DPO / FPO      6.0

[2054 rows x 1 columns]

In [165]:
pd.set_option("display.max_rows", 10, "display.max_columns", None)
all_fraud_data = pd.merge(grouped_stats_state, grouped_stats_ym, left_on = 'Year Month',right_index=True)
all_fraud_data

                          Reports     Total
Year Month State
2021-12-01 Wyoming           49.0  119089.0
           Wisconsin        743.0  119089.0
           West Virginia    962.0  119089.0
           Washington      1088.0  119089.0
           Virginia       11004.0  119089.0
...                           ...       ...
2019-01-01 California     13598.0  140264.0
           Arkansas         406.0  140264.0
           Arizona         1066.0  140264.0
           Alaska           128.0  140264.0
           Alabama         1922.0  140264.0

[2054 rows x 2 columns]

## Update fraud report data to percentage of fraud reports by State and Year Month

In [172]:
all_fraud_data['Reporting Rate'] = round((all_fraud_data['Reports']/all_fraud_data['Total'])*100,3)
all_fraud_data

                          Reports     Total  Reporting Rate
Year Month State
2021-12-01 Wyoming           49.0  119089.0           0.041
           Wisconsin        743.0  119089.0           0.624
           West Virginia    962.0  119089.0           0.808
           Washington      1088.0  119089.0           0.914
           Virginia       11004.0  119089.0           9.240
...                           ...       ...             ...
2019-01-01 California     13598.0  140264.0           9.695
           Arkansas         406.0  140264.0           0.289
           Arizona         1066.0  140264.0           0.760
           Alaska           128.0  140264.0           0.091
           Alabama         1922.0  140264.0           1.370

[2054 rows x 3 columns]

## Group total average of total fraud reports by state.

In [175]:
fraud_by_state = all_fraud_data.groupby('State').mean()
fraud_by_state = fraud_by_state.reset_index()
fraud_by_state.head()

             State      Reports          Total  Reporting Rate
0  APO / DPO / FPO     2.375000  117080.500000        0.002000
1          Alabama  2154.166667  138030.388889        1.586083
2           Alaska   153.083333  138030.388889        0.109028
3   American Samoa     2.680000  140888.800000        0.001800
4          Arizona  1236.861111  138030.388889        0.893944

In [176]:
max_data = all_fraud_data.groupby('Year').max()
max_data.index = max_data.index + ' '+max_data['State']

KeyError: 'Year'