In [84]:
import pandas as pd
from pathlib import Path
import seaborn as sns
import hvplot.pandas
%matplotlib inline

In [98]:
fraud_yr_2020= Path("..\FInCen CSV Data\FinCen SAR Stats 2020 (Months).csv")
fraud_yr_2020= pd.read_csv(fraud_yr_2020, thousands=',', index_col='Year Month')
fraud_yr_2020

fraud_yr_2019= Path("..\FInCen CSV Data\FinCen SAR Stats 2019 (Months).csv")
fraud_yr_2019= pd.read_csv(fraud_yr_2019, thousands=',', index_col='Year Month')
fraud_yr_2019

fraud_yr_2021= Path("..\FInCen CSV Data\FinCen SAR Stats 2021 (Months).csv")
fraud_yr_2021= pd.read_csv(fraud_yr_2021, thousands=',', index_col='Year Month')
fraud_yr_2021

,State,Industry,Suspicious Activity,Count
Year Month,,,,
2021 January,Alabama,Casino/Card Club - Tribal Authorized Casino,Credit/Debit Card,2
2021 January,Alabama,Casino/Card Club - Tribal Authorized Casino,Other Fraud (Type),2
2021 January,Alabama,Casino/Card Club - Tribal Authorized Casino,[Total],4
2021 January,Alabama,Depository Institution,ACH,286
2021 January,Alabama,Depository Institution,Advance Fee,3
...,...,...,...,...
2021 December,Wyoming,Securities/Futures,[Total],1
2021 December,Wyoming,[Total],[Total],73
2021 December,[Total],[Total],[Total],160929
2021 [Total],[Total],[Total],[Total],1729746
All Years [Total],[Total],[Total],[Total],1729746

In [93]:
fraud_yr_2020=fraud_yr_2020.loc[fraud_yr_2020["Industry"]!="[Total]" ]
fraud_yr_2020f=fraud_yr_2020.loc[fraud_yr_2020["Suspicious Activity"]!="[Total]" ]
fraud_yr_2020=fraud_yr_2020.loc[fraud_yr_2020["State"]!="[Total]" ]
fraud_yr_2020.loc[fraud_yr_2020.index.str.contains("[Total]") ]

fraud_yr_2021=fraud_yr_2021.loc[fraud_yr_2021["Industry"]!="[Total]" ]
fraud_yr_2021=fraud_yr_2021.loc[fraud_yr_2021["Suspicious Activity"]!="[Total]" ]
fraud_yr_2021=fraud_yr_2021.loc[fraud_yr_2021["State"]!="[Total]" ]
fraud_yr_2021.loc[fraud_yr_2021.index.str.contains("[Total]") ]

fraud_yr_2019=fraud_yr_2019.loc[fraud_yr_2019["Industry"]!="[Total]" ]
fraud_yr_2019f=fraud_yr_2019.loc[fraud_yr_2019["Suspicious Activity"]!="[Total]" ]
fraud_yr_2019=fraud_yr_2019.loc[fraud_yr_2019["State"]!="[Total]" ]
fraud_yr_2019.loc[fraud_yr_2019.index.str.contains("[Total]") ]

,State,Industry,Suspicious Activity,Count
Year Month,,,,
2019 January,Alabama,Casino/Card Club - Tribal Authorized Casino,Check,1
2019 January,Alabama,Casino/Card Club - Tribal Authorized Casino,Credit/Debit Card,1
2019 January,Alabama,Casino/Card Club - Tribal Authorized Casino,[Total],2
2019 January,Alabama,Depository Institution,ACH,126
2019 January,Alabama,Depository Institution,Advance Fee,4
...,...,...,...,...
2019 November,Wyoming,Money Services Business (MSB),Advance Fee,1
2019 November,Wyoming,Money Services Business (MSB),Credit/Debit Card,1
2019 November,Wyoming,Money Services Business (MSB),Other Fraud (Type),22
2019 November,Wyoming,Money Services Business (MSB),Wire,9
2019 November,Wyoming,Money Services Business (MSB),[Total],33

In [104]:
fraud_2020_clean= fraud_yr_2020.drop(columns= 'Suspicious Activity')
fraud_2021_clean= fraud_yr_2021.drop(columns= 'Suspicious Activity')
fraud_2019_clean= fraud_yr_2019.drop(columns= 'Suspicious Activity')
fraud_2019_clean

,State,Industry,Count
Year Month,,,
2019 January,Alabama,Casino/Card Club - Tribal Authorized Casino,1
2019 January,Alabama,Casino/Card Club - Tribal Authorized Casino,1
2019 January,Alabama,Casino/Card Club - Tribal Authorized Casino,2
2019 January,Alabama,Depository Institution,126
2019 January,Alabama,Depository Institution,4
...,...,...,...
2019 December,Wyoming,Securities/Futures,1
2019 December,Wyoming,[Total],60
2019 December,[Total],[Total],103088
2019 [Total],[Total],[Total],1259028
All Years [Total],[Total],[Total],1259028

In [96]:
fraud_combined_data = pd.concat([fraud_2019_clean, fraud_2020_clean, fraud_2021_clean], axis=0, join="inner")
fraud_combined_data.dtypes

State       object
Industry    object
Count        int64
dtype: object